<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
            <br>
            <span id="busuanzi_container_site_uv">
                <i class="fa fa-user"></i>
                <span id="busuanzi_value_site_uv"></span>
            </span>
            <i>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</i>
            <span id="busuanzi_container_site_pv">
                <i class="fa fa-eye"></i>
                <span id="busuanzi_value_site_pv"></span>
            </span>
<!--
            <br>
            Powered by <a href="https://hexo.io/" target="_blank" style="text-decoration:none;">Hexo</a> & Base on <a target="_blank" href="https://github.com/ppoffice/hexo-theme-icarus" style="text-decoration:none;">Icarus</a>
-->
        </div>
    </div>
</footer>

 <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>