body{
    background: #f5f8f9;
    font-family: Microsoft YaHei;
    margin: 0;
    color: #666;
}
a{
    color: rgba(40, 69, 177, 0.796);
    text-decoration: none;
}
a:hover {
    color: #38b7ea;
}
#top{
    width:100%;
    background: #fff;
}
#logo{
    margin: 20px 15% 20px 10%;
    font-weight: bold;
    display:inline-block;
    text-align: left;
    font-size: 30px;
}
#search{
    width: 30%;
    display:inline-block;
    text-align: left;
}
#myInput {
    background-image: url('./searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%; 
    font-size: 16px;
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
}
#content{
    width: 70%; 
    margin: 0% 15% 0%;
}
table{
    background: #fff;
    width:100%;
    padding: 20px;
}
table td{
    vertical-align:top;
}
table img{
    padding: 25px 0 0;
}
#title{
    font-size: 20px;
    margin: 20px 0 20px;
    font-weight: bold;
}
#summary{
    background: #fff;
    padding: 20px;
    margin: 0 0 20px;
    line-height: 28px;
    font-size: 16px;
    word-break:break-all;
}
.rate{
    font-size: 20px;
    color: rgb(230, 17, 17);
}