body{
    background: #383838;
    font-family: Microsoft YaHei;
}
.container{
    font-size: 15px;
    line-height: 30px;
    color: #666;
    background-color: white;
    width: 820px;
    margin: auto;
}
.my-name{
    padding: 60px 30px 20px;
    font-size: 30px;
}
.basic-info{
    padding: 0px 30px 30px;
}
.moduler-name{
    line-height: 33px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background: #0b70bd;
    width: 140.6px;
    height: 36px;
}
.moduler-content{
    padding: 15px 30px 15px;
}
.project-experience{
    padding: 12px 0 12px;
}
.project-experience>.time,.education-experience>.time{
    font-weight: bold;
    display:inline-block;
    width: 150px;
    text-align: left;
}
.project-experience>.name,.education-experience>.school{
    font-weight: bold;
    display:inline-block;
    width: 400px;
    text-align: center;
}
.project-experience>.role,.education-experience>.major{
    font-weight: bold;
    display:inline-block;
    width: 150px;
    text-align: center;
}